body {
  font-size: 14px;
}

.carousel-container {
  margin: 20px 0px;
  height: 100vh;
  min-height: 400px;
}

.carousel {
  top: 15%;
  height: 70%;
  min-height: 80px;
  width: 100%;
  /*border: 1px solid black;*/
  position: relative;
  overflow: hidden;
}

.carousel ul.slide {
  margin: 0;
  padding: 0;
}

.carousel ul.slide > li {
  list-style: none;
}

.slide {
  height: 100%;
  min-width: 100px;
  position: absolute;
  border-collapse: box;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 1;
}

.slot {
  display: inline;
  position: relative;
}

.slot img {
  height: 100%;
  min-height: 20px;
  width: auto;
  padding: 0 6px;
  opacity: 0.1;
}

.slot.current img {
  opacity: 1;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.carousel-left, .carousel-right {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  z-index: 2;
}
.carousel-left {
  left: 0;
}
.carousel-right {
  right: 0;
}

.carousel-container h2, .carousel-container p {
  position: relative;
  top: 17%;
  text-align: center;
  margin: 2px;
  font-family: Avenir;
  font-size: 1.1em;
  font-variant: small-caps;
}
