body {
  font-size: 14px;
}

.carousel-container {
  margin: 20px 0px;
  /*fall back height*/
  height: 600px;
  height: 100vh;
  min-height: 400px;
}

.carousel-container .carousel {
  top: 15%;
  height: 70%;
  min-height: 80px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel .slide {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 100px;
  position: absolute;
  border-collapse: collapse;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 1;
}

.slide .slot {
  display: inline;
  position: relative;
  height: 100%;
}

.slide .slot img {
  height: 100%;
  min-height: 20px;
  width: auto;
  padding: 0 2px;
  opacity: 0.1;
}

.slide .slot.current img {
  opacity: 1;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.carousel .carousel-left,
.carousel .carousel-right {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
}
.carousel .carousel-left {
  left: 0;
}
.carousel .carousel-right {
  right: 0;
}
.carousel .carousel-right::after,
.carousel .carousel-left::after {
  position: absolute;
  top: 45%;
  font-size: 2em;
  color: #FAFAFA;
  text-shadow: 1px 1px 4px #000;
  font-family: tahoma;
  display: inline-block;
  transform : scale(1,2);
  -webkit-transform:scale(1,2);
  -moz-transform:scale(1,2);
  -ms-transform:scale(1,2);
  -o-transform:scale(1,2);
  cursor: pointer;
}
.carousel .carousel-left::after {
  content: "<";
  left: 25%;
}
.carousel .carousel-right::after {
  content: ">";
  right: 25%;
}

.carousel-container h2, .carousel-container p {
  position: relative;
  top: 17%;
  text-align: center;
  margin: 2px;
  font-family: Avenir;
  font-size: 1.1em;
  font-variant: small-caps;
}
