body {
  font-size: 14px;
}

.carousel-container {
  margin: 20px 0px;
}

.carousel {
  height: 70vh;
  min-height: 80px;
  width: 100%;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.slide {
  height: 100%;
  width: 0px;
  position: absolute;
  border-collapse: box;
  border: 1px solid red;
}

.slot {
  height: 100%;
  display: inline;
  margin: 0 -2px;
  position: relative;
}

.slot img {
  height: 100%;
  min-height: 20px;
  width: auto;
  padding: 0 6px;
  opacity: 0.5;
}

.slot.current img {
  opacity: 1;
}

.carousel-container h2, .carousel-container p {
  text-align: center;
  margin: 5px;
  font-family: Avenir;
  font-variant: small-caps;
}
